.board-col {
  padding: 0;
  //   background: linear-gradient(black, black) no-repeat center/1px 100%;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(0, 0, 0, 0) calc(50% - 1px),
  //     rgba(0, 0, 0, 1) calc(50%),
  //     rgba(0, 0, 0, 0) calc(50% + 1px)
  //   );
  //   border: 0.1px solid black;
}
.board-col:hover {
  border: 0.1px dotted yellow;
}
.board-col:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 0.1px solid black;
  border-left: 0.1px solid black;
  transform: translateY(18px) translateX(18px);
}

.board-row {
  height: 36px;
}

.board-div {
  height: 100vh;
  width: 60vw;
  padding-left: 5vw;
  padding-top: 10vh;
}
