.board-col {
  padding: 0;
  background-size: contain;
}
.board-col::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 1px solid black;
  transform: translateX(18px);
  z-index: -1;
}
// .board-col:hover {
//   cursor: pointer;
//   background: radial-gradient(circle, grey 10%, lightgrey 75%);
// }

//棋盤黑點樣式:
.dotted-unit::before {
  content: "\25CF";
  position: absolute;
  color: black;
  z-index: -1;

  //黑點位置寫死
  font-size: 19px;
  right: 12px;
  top: 2px;
}
