.board-panel {
  //寬度暫定:
  width: 250px;
  position: fixed;
  top: 100px;
  right: 50px;
}

.panel-btn {
  min-width: 60px;
}

/* Custom Switches: */
/* Source: https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox */
/* for sm */

// .custom-switch.custom-switch-sm .custom-control-label {
//   padding-left: 1rem;
//   padding-bottom: 1rem;
// }

// .custom-switch.custom-switch-sm .custom-control-label::before {
//   height: 1rem;
//   width: calc(1rem + 0.75rem);
//   border-radius: 2rem;
// }

// .custom-switch.custom-switch-sm .custom-control-label::after {
//   width: calc(1rem - 4px);
//   height: calc(1rem - 4px);
//   border-radius: calc(1rem - (1rem / 2));
// }

// .custom-switch.custom-switch-sm
//   .custom-control-input:checked
//   ~ .custom-control-label::after {
//   transform: translateX(calc(1rem - 0.25rem));
// }

// /* for md */

// .custom-switch.custom-switch-md .custom-control-label {
//   padding-left: 2rem;
//   padding-bottom: 1.5rem;
// }

// .custom-switch.custom-switch-md .custom-control-label::before {
//   height: 1.5rem;
//   width: calc(2rem + 0.75rem);
//   border-radius: 3rem;
// }

// .custom-switch.custom-switch-md .custom-control-label::after {
//   width: calc(1.5rem - 4px);
//   height: calc(1.5rem - 4px);
//   border-radius: calc(2rem - (1.5rem / 2));
// }

// .custom-switch.custom-switch-md
//   .custom-control-input:checked
//   ~ .custom-control-label::after {
//   transform: translateX(calc(1.5rem - 0.25rem));
// }

// /* for lg */

// .custom-switch.custom-switch-lg .custom-control-label {
//   padding-left: 3rem;
//   padding-bottom: 2rem;
// }

// .custom-switch.custom-switch-lg .custom-control-label::before {
//   height: 2rem;
//   width: calc(3rem + 0.75rem);
//   border-radius: 4rem;
// }

// .custom-switch.custom-switch-lg .custom-control-label::after {
//   width: calc(2rem - 4px);
//   height: calc(2rem - 4px);
//   border-radius: calc(3rem - (2rem / 2));
// }

// .custom-switch.custom-switch-lg
//   .custom-control-input:checked
//   ~ .custom-control-label::after {
//   transform: translateX(calc(2rem - 0.25rem));
// }

// /* for xl */

// .custom-switch.custom-switch-xl .custom-control-label {
//   padding-left: 4rem;
//   padding-bottom: 2.5rem;
// }

// .custom-switch.custom-switch-xl .custom-control-label::before {
//   height: 2.5rem;
//   width: calc(4rem + 0.75rem);
//   border-radius: 5rem;
// }

// .custom-switch.custom-switch-xl .custom-control-label::after {
//   width: calc(2.5rem - 4px);
//   height: calc(2.5rem - 4px);
//   border-radius: calc(4rem - (2.5rem / 2));
// }

// .custom-switch.custom-switch-xl
//   .custom-control-input:checked
//   ~ .custom-control-label::after {
//   transform: translateX(calc(2.5rem - 0.25rem));
// }

// /* Custom Switch adaptive */
// $text-muted: #6c757d;
// $light: #f8f9fa;
// $white: #fff;
// $success: #28a745;
// .custom-switch.custom-switch-adaptive {
//   padding-left: 0;

//   .custom-control-label {
//     padding: 0 1.5em;
//     position: relative;
//     border-radius: 1em;
//     line-height: 1.4em;
//     color: $text-muted;
//     // border: 1px solid $text-muted;
//     background-color: $light;
//     transition: background-color 200ms;

//     &::before {
//       content: none;
//     }
//     &::after {
//       position: absolute;
//       height: 1em;
//       top: 0.2em;
//       left: 0.2em;
//       width: 1em;
//       border-radius: 1em;

//       transition: left 200ms;
//     }
//   }

//   .custom-control-input:checked ~ .custom-control-label {
//     color: $white;
//     background-color: $success;
//     border-color: $success;

//     &::after {
//       background-color: $white;
//       left: calc(100% - 1.2em);

//       transform: none;
//       -webkit-transform: none;
//     }
//   }
// }
